.container{
    display: flex;
    /* flex-direction: column; */
    /* justify-content: space-between; */
    flex-wrap: wrap;
    /* padding: 20px; */
    border: 2px solid black;
    width: 50%;
}
.item{
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    background-color: blue;
    color: white;
    height: 45px;
}